# Dart/Flutter
.dart_tool/
.packages
.flutter-plugins
.flutter-plugins-dependencies
build/
*.lock

# Firebase config files 
android/app/google-services.json
ios/Runner/GoogleService-Info.plist

# iOS build and dependency files
ios/Pods/
ios/Runner.xcworkspace
ios/DerivedData/
ios/*.xcuserstate
ios/*.xcuserdata

# Android build/dependency/keystore files
android/.gradle/
*.jks

# macOS/Windows/Editor/OS
.DS_Store
Thumbs.db
.idea/
.vscode/
*.iml

# Native build (C++, CMake)
CMakeFiles/
CMakeCache.txt
cmake-build-*/
*.o
*.obj
*.out
*.exe
*.log

# Secrets/keys
.env
*.key
*.pem
*.p12
*.crt
*.log